.config/emacs/eln-cache/
.config/emacs/elpa/
.config/emacs/etc/
.config/emacs/.local/
.config/emacs/straight/
.config/emacs/var/
.config/emacs/auto-save-list/
.config/emacs/transient/
.config/emacs/recentf
.config/emacs/sessions
.config/emacs/tramp
.config/emacs/projectile-bookmarks.eld
.config/emacs/Emacs.org~
.config/emacs/.last-package-update-day
.config/emacs/init.el
.config/emacs/.Emacs.org.~undo-tree~
.config/home-manager/flake.lock
