window>.volume_pop {
  margin: 0.4rem;
  box-shadow: 0 0 2px 1px rgba(black, 0.5);
  background-color: $bg;
}

.volume_pop {
  font-family: "JetBrainsMono Nerd Font";
  background-color: transparent;
  padding: 0.05rem;
  border-radius: 0.5rem;

  label {
    font-size: 1.5rem;
    padding: 0 .5rem;
    text-shadow: 0 0 2px rgba(black, 0.5);
  }

  .scale scale trough highlight {
    all: unset;
    background-image: linear-gradient(
      to right,
      darken($color: $green, $amount: 15%),
      $green
    );
    border-radius: .5rem;
  }

  .scale scale trough {
    all: unset;
    background-color: $bg-alt;
    border-radius: .5rem;
    min-height: 1.9rem;
    min-width: 8rem;
  }
}
